@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

:root {
    --main-color: #C6C6C6;
    --color-fuente: #373737;
    --color-contenedor: #F3F3F3;
}

html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
    */
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: var(--color-fuente)
}

*, *:before, *:after {
    box-sizing: inherit;
}

#contenedor {
    display: block;
    background: var(--main-color);
    border-radius: 0.5rem;
    margin: auto 1rem;
}

#titulo {
    margin-top: 5rem;
    margin-bottom: 0;
    padding-top: 3rem;
    font-size: 4rem;
    text-align: center;
}

#descripcion {
    text-align: center;
    font-size: 2rem;
}

#contenedor-imagen {
    display: block;
    padding: 3rem 3rem 0 3rem;
    background-color: var(--color-contenedor);
    border-radius: 0.5rem;
}

#imagen {
    max-width: 100%;
    display: block;
    margin: auto;
}

#pie-imagen {
    font-size: 15px;
    display: block;
    text-align: center;
    padding: 2rem;
}

#titulo-cronologia {
    display: block;
    margin: 0;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

#items {
    margin: 0;
    padding: 0rem 8rem 2rem 8rem;
    text-align: justify;
    font-size: 1.8rem;
}

span {
    font-weight: bold;
}

li {
    padding: 1rem;
    line-height: 3rem;
}

#cita {
    margin: 0;
    padding: 1rem 2rem 2rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;

}

cite {
    display: block;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-weight: 100;
}

/* For mobile */
/* 
  ##Dispositivo = Mayoria de telefonos moviles (vertical)
  ##Resolucion = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    #items {
        margin: 0;
        padding: 0rem 5rem 2rem 5rem;
        text-align: justify;
        font-size: 1.3rem;
    }

    li {
        padding: 1rem;
        line-height: 2rem;
    }

    #contenedor-imagen {
        display: block;
        margin: auto 1rem;
        padding: 1rem 1rem 0 1rem;
        background-color: var(--color-contenedor);
        border-radius: 0.5rem;
    }
    
    #imagen {
        max-width: 100%;
        display: block;
        margin: auto;
    }
    
    #pie-imagen {
        font-size: 15px;
        display: block;
        text-align: center;
        padding: 2rem;
    }
    
    #titulo-cronologia {
        display: block;
        margin: 0;
        text-align: center;
        padding: 3rem 0 1.5rem 0;
        font-size: 2rem;
    }

    #titulo {
        margin-top: 5rem;
        margin-bottom: 0;
        padding-top: 3rem;
        font-size: 3rem;
        text-align: center;
    }

    #descripcion {
        text-align: center;
        font-size: 1.5rem;
    }

}